{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login - Peonies Site</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center w-screen bg-pink-50 py-12 px-4 sm:px-6 lg:px-8" style="background-image: url({% static 'image/hero-flower.png' %}); background-size: cover; background-position: center;">
  <!-- Background Container -->
  <div class="max-w-3xl w-full bg-white bg-opacity-80 p-16 rounded-2xl shadow-xl flex justify-center min-h-[100px]"> <!-- Penambahan tinggi pada p-16 dan min-h-[500px] -->    
    <!-- Form Login -->
    <div class="max-w-md w-full space-y-8">
      <div>
        <h2 class="mt-6 text-center text-pink-800 text-3xl font-extrabold">
          Login to your account
        </h2>
      </div>
      <form class="mt-8 space-y-6" method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="username" class="sr-only">Username</label>
            <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-pink-500 focus:border-pink-500 focus:z-10 sm:text-sm" placeholder="Username">
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-pink-500 focus:border-pink-500 focus:z-10 sm:text-sm" placeholder="Password">
          </div>
        </div>

        <div>
          <button type="submit" class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
            Sign in
          </button>
        </div>
      </form>

      <div class="text-center mt-4">
        <p class="text-sm text-gray-700">
          Don't have an account yet?
          <a href="{% url 'main:register' %}" class="font-medium text-pink-600 hover:text-pink-500">
            Register Now
          </a>
        </p>
      </div>
    </div>

  </div> <!-- End of Background Container -->
</div>

{% endblock content %}
