{% extends 'base.html' %}
{% block content %}
{% include 'home.html' %}
{% include 'navbar.html' %}
<!-- <h1>{{ app_name }}</h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>
<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class_name }}<p>

{% if not product_list %}
<h5>There are no products available at this moment.</h5>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Bouquet Type</th>
    <th>Wrap Color</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
  {% for product in product_list %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.bouquet_type }}</td>
    <td>{{ product.wrap_color }}</td>
    <td>
      <a href="{% url 'main:edit_product' product.pk %}">
          <button>
              Edit
          </button>
      </a>
    </td>
    <td>
      <a href="{% url 'main:delete_product' product.pk %}">
          <button>
              Delete
          </button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
  <button>Add New Collection</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5> -->
{% endblock content %}x